@import "@/assets/styles/variables.scss";

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    color: $primary-color;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}


$breakpoint-sm: 768px;

@media (min-width: $breakpoint-sm) {
  .header {
    justify-content: space-between;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}